<div *ngIf="equipment">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ equipment.name }}</h3>
      </div>
      <div class="panel-body">
        <img src="{{ equipment.imageUrl }}" alt="Image of {{equipment.name}}">

        <div class="panel-content">
          {{ equipment.description }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!equipment">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Standing by...</h3>
      </div>
      <div class="panel-body">
        <img src="http://i.imgur.com/rsCXZ.jpg" alt="">
        <div class="panel-content">
          Please select equipment from the list.
        </div>
      </div>
    </div>
  </div>


