<div class="container">
  <header class="row">
    <div class="col-md-10 offset-md-1">
      <h1>Welcome to {{title}}!</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-2">
      <ul class="btn-group-vertical">
        <li *ngFor="let route of routes" class="btn btn-warning" routerLinkActive="active">
          <a [routerLink]="route.route">{{ route.name }}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
