/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Helvetica Ultra Compressed';
  src:  url('./assets/fonts/Helvetica_Ultra_Compressed.ttf') format('truetype'),
        url('./assets/fonts/Helvetica_Ultra_Compressed.woff') format('woff');
}

/* TODO: find this font for a true LCARS experience: SWISS 911 Ultra Compressed BT */

html, body {
  background: black;
  font-family: 'Helvetica Ultra Compressed', sans-serif;
}

a, a:link, a:visited, a:hover {
  color: #000;
  text-decoration: none;
  font-weight: lighter;
  font-size: x-large;
}
